<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    News details<br>
    --------------------------
    </p>
    <p>News: <%= @userrequest.news %></p>
    <p>Purpose: <%= @userrequest.purpose %></p>
    <p>Status: <%= @userrequest.status %></p>
    <p>
    Message:<br>
    --------------------------
    <p><%= @userrequest.user.username.capitalize %>, Your news request has implemented! </p>
    <p>Thank you</p>
    </p>
  </body>
</html>

