<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>You have created a news request successfully!</p>
  <p>
  News details<br>
  --------------------------
  </p>
  <p>News: <%= @userrequest.news %></p>
  <p>Purpose: <%= @userrequest.purpose %></p>
  <p>Status: <%= @userrequest.status %></p>
  <p>
  <p>Thank you</p>
  </p>
  </body>
</html
