<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a news from <%= @news.user.username %>!</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Name: <%= @news.user.username %></p>
    <p>
    Message:<br>
    ----------
    </p>
  </body>
</html>
